<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div id="main" class="w-full text-white p-10 font-[gilroy] h-screen bg-zinc-900">
    <a href="/" class="text-blue-500 underline inline-block mb-5">Go back to home</a>
      <h1 class="text-3xl "><%= filename%></h1>
      <p class="font-lighter inline-block mt-5"><%= filedata %></p>
    </div>
   
  
  
  <script src="/javascripts/script.js"></script>
</body>
</html>